<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791360157679-7epca1kl5406ma79dn8dbbiqcqnnumc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791360157679-7epca1kl5406ma79dn8dbbiqcqnnumc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>791360157679-s7g6i89ooelhdsbpiau60qbp2gl0bgb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC01j6_V3o7YjZhbb5F6NDCiaQX0gaazEA</string>
	<key>GCM_SENDER_ID</key>
	<string>791360157679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>football-player-game-880d7</string>
	<key>STORAGE_BUCKET</key>
	<string>football-player-game-880d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791360157679:ios:456082dce97b222206a81a</string>
</dict>
</plist>